body {
  margin: 0; /* Remove body margins */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 15px;
  color: #e5e7eb;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

a {
  text-decoration: solid;
  color: #f9faf8;
}

li {
  list-style: none;
}

.hero {
  display: flex;
  background: #1f2937;
  padding: 45px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.InfoContainer {
  padding: 20px;
}

h2 {
  justify-content: center;
  font: 800;
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-top: 0px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  display: flex;
  margin-bottom: 10px;
}

h3 {
  margin: 2px;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px;
  width: 20%;
  margin-bottom: 10px;
  border: black 2px;
}

.text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.cat {
  width: 500px;
  height: auto;
}

img {
  width: 200px;
  height: auto;
  border: 5px solid #555;
  border-radius: 4px;
}

.info-img {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.container {
  width: 400px;
  height: auto;
  margin-right: 50px;
}

.tex {
  max-width: 200px;
  text-align: center;
}

.quote-container {
  background-color: #e5e7eb;
  padding: 50px;
  padding-left: 200px;
  padding-right: 200px;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  margin: 0px;
}

.thor {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 800;
}

.call-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.call-container-inside {
  background-color: #3882f6;
  border-radius: 4px;
  padding: 20px;
  width: 50%;
  color: #e5e7eb;
  display: flex;
  justify-content: space-evenly;
}

.sign-up-text {
  margin: 2px;
}

.sign-up-button {
  background-color: #3882f6;
  font-weight: bold;
  border-radius: 4px;
  padding: 0px;
  color: #e5e7eb;
}

.button-call {
  background-color: #3882f6;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 100px;
  border: white 2px;
  border-style: solid;
}

.footer {
  background-color: #1f2937;
  margin-top: auto;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
