body {
  margin: 0; /* Remove body margins */
}

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 15px;
  color: #e5e7eb;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

a {
  text-decoration: solid;
  color: #f9faf8;
}

li {
  list-style: none;
}

.hero {
  display: flex;
  background: #1f2937;
  padding: 45px;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  display: flex;
  margin-bottom: 10px;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 15px;
  padding: 5px;
  width: 20%;
  margin-bottom: 10px;
  border: black 2px;
}

.text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

img {
  width: 500px;
  height: auto;
}
.container {
  width: 400px;
  height: auto;
  margin-right: 50px;
}
